/*COLORS*/
$white: #FFFFFF;

/*CHAKRA FONTS*/
$FontChReg: 'ChakraPetch-Regular';

/*BTNS HEADER*/
$btnBackground: #F7C9F3;
$btnNightBackground: #EE3EFE;
$btnBorder: 1px solid #110038;
$btnBoxShadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
$btnNightBoxShadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF; 
$btnFontColor: #110038;

/*CURSOR*/
$CursorPointer: pointer;